<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARIRESTO APPS</title>
    <link rel="stylesheet" crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap"> 
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head> 
<body>
<header class="header">
    <div class="logo_inner">
        <h1 class="logo_title">
            CARIRESTO
        </h1>
    </div>

    <nav id="drawer" class="nav">
        <ul class="nav_list">
            <li id="home" class="nav_item"><a href="#">Beranda</a></li>
            <li id="favorite" class="nav_item"><a href="#">Favorit</a></li>
            <li class="nav_item"><a href="https://github.com/tiana30">Tentang </a></li>
        </ul>
    </nav> 
</header> 

<div class="jumbotron jumbotron_shadow">
    <div class="jumbotron_inner">
        <p class="jumbotron_title">
          Mau buat <span class="jumbotron_box">acara spesial</span> paling berkesan dalam hidup kamu</p> 
          <p class="jumbotron_title">Atau mau tahu ke resto paling <span class="jumbotron_box">hits Se-Indonesia</span><p>
        <p class="jumbotron_tagline">Cari dulu disini sebelum <span class="jumbotron_box">mampir</span> kemudian.</p>
    </div>
</div>

<main>
    <section class="content">
        <p class="content_title">Temukan Restoran yang kamu suka</p>
        <div class="loading">
            <i class="fas fa-spinner fa-pulse fa-3x"></i>
        </div>
        
        <div id="card_list">
            
        </div>
    </section>
</main>
<footer class="footer">
    <p> Copyright © 2021 - CARIRESTO </p>
</footer>
</body>
</html>
