<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARIRESTO APPS</title>
    <link rel="stylesheet" crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies:wght@200;300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head> 
<body>
<header class="header">
    <div class="logo_inner">
        <h1 class="logo_title">
            CARIRESTO
        </h1>
    </div>

    <nav id="drawer" class="nav">
        <ul class="nav_list">
            <li id="home" class="nav_item"><a href="#">Beranda</a></li>
            <li id="favorite" class="nav_item"><a href="#">Favorit</a></li>
            <li class="nav_item"><a href="#">Tentang </a></li>
        </ul>
    </nav> 
</header> 

<div class="jumbotron jumbotron_shadow">
    <div class="jumbotron_inner">
        <p class="jumbotron_title">
          Mau buat <span class="jumbotron_box">acara spesial</span> bareng temen kamu?</p> 
          <p class="jumbotron_title">Atau mau tahu <span class="jumbotron_box">resto keren</span> se-Indonesia?<p>
        <p class="jumbotron_tagline">Cek dulu disini, sebelum<span class="jumbotron_box">ngumpul</span> kemudian.</p>
    </div>
</div>

<main>
    <section class="content">
        <p class="content_title">Temukan Restoran yang kamu suka</p>
        <div id="card_list">

            <div class="card_item">
               <img class="card_img" src="/images/24.jpg" alt="foto"/>
               <span class="card_rating">
                  <i class="fas fa-star">  </i> 4.5
               </span>
               <ul class="card_detail">
                <li class="card_city"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> 
                Surabaya 
                </li>
                <li class="card_name">Bring Your Phone Cafe</li>
                </ul>
            </div>

            <div class="card_item">
                <img class="card_img" src="/images/24.jpg" alt="foto"/>
                <span class="card_rating">
                   <i class="fas fa-star">  </i> 4.5
                </span>
                <ul class="card_detail">
                <li class="card_city"><i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                Surabaya 
                </li>
                 <li class="card_name">Bring Your Phone Cafe</li>
                 </ul>
             </div>

             <div class="card_item">
                <img class="card_img" src="/images/24.jpg" alt="foto"/>
                <span class="card_rating">
                   <i class="fas fa-star"></i> 4.5 
                </span>
                <ul class="card_detail">  
                 <li class="card_city">
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                    Surabaya
                </li>
                 <li class="card_name">Bring Your Phone Cafe</li>
                 </ul>
             </div>

        </div>
    </section>
</main>
<footer class="footer">
    <p> Copyright © 2020 - CARIRESTO </p>
</footer>
</body>
</html>
