* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Rowdies" ,sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#FF6535;
}

/*
 * Focus Style
 *
 */

h1[tabindex="0"]:focus {
    outline: 3px dashed black;
} 

button[tabindex="0"]:focus {
    outline: 3px dashed black;
}

a[tabindex="0"]:focus {
    outline: 3px dashed black;
}

li a:focus{
    outline: 3px dashed black;
}

p[tabindex="0"]:focus {
    outline: 3px dashed black;
}

img[tabindex="0"]:focus {
    outline: 3px dashed black;
 }


/*
 * Header
 *
 */

.header{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0.5em 1em;
}

.logo {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   cursor: pointer;
}

.logo_title {
    font-size: 32px;
    margin: auto;
    display: inline-block;
    font-weight: 400;
}

.logo a{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    text-align: right;
    color: #FF6535;
}

.logo a:hover {
    text-decoration:none;
    background: #FF6535;
    color: #ffffff;
    border-radius: 0.3em;
}

/*
 * Top level navigation
 */

.nav {
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

.nav_list {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 24px;
    
}

.nav_item {
    box-sizing: border-box;
    display: inline-block;
    width: 18%;
    text-align: center;
    text-transform: capitalize;
}

.nav a {
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    text-align: right;
    color: #FF6535;
}

.nav a:hover {
    text-decoration:none;
    background: #FF6535;
    color: #ffffff;
    border-radius: 0.3em;
}

.nav_menu{
    cursor: pointer;
    border: none;
    background: transparent;
}

.nav_menu .fas {
    display: inline-block;
    padding: 12px;
    border-radius: 0.5em;
    color: #FF6535;
}

.nav_menu .fas:hover{
    background: #FF6535;;
    color: #ffffff;
}


/*
 * Jumbotron
 */

.jumbotron{
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 380px;
    width: 100%;
    box-shadow: 0 4px 8px 0 #29558c90;
    background: #ffffff90;
    background: linear-gradient(to top, #29558c90 0%, rgb(255, 255, 255, 0.9) 30% ,rgb(255, 255, 255, 0.9) 70%, #FF653590 100%),  url("/images/heros/hero-image_2.jpg") no-repeat;
    background: -moz-linear-gradient(to top, #29558c90 0%, rgb(255, 255, 255, 0.9) 30% ,rgb(255, 255, 255, 0.9) 70%, #FF653590 100%),  url("/images/heros/hero-image_2.jpg") no-repeat;
    background: -webkit-linear-gradient(to top, #29558c90 0%, rgb(255, 255, 255, 0.9) 30% ,rgb(255, 255, 255, 0.9) 70%, #FF653590 100%),  url("/images/heros/hero-image_2.jpg") no-repeat;
    background: -o-linear-gradient(to top, #29558c90 0%, rgb(255, 255, 255, 0.9) 30% ,rgb(255, 255, 255, 0.9) 70%, #FF653590 100%),  url("/images/heros/hero-image_2.jpg") no-repeat;
    object-fit: cover;
    background-position: center;
}

.jumbotron_inner {
    max-width: 800px;
    
   }

.jumbotron_title {
    font-size: 26px;
}

.jumbotron_tagline {
    color:#29558c; 
    font-size: 24px;
}

/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content{
    padding: 1em;
}

.content_title {
    font-size: 24px;
    color:#29558c;
    text-align: center;
    padding-bottom: 1em;
}

/*
 * loading spinner
 */

.loading{
    margin: 0 auto;
    max-width: 800px;
    padding-top: 0.3em; 
    text-align: center;
}

.loading .fas{
    color: #FF6535;
    align-items: center;
}

/*
 * card_list
 */

#card_list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
    gap: 3em 2em;  
    grid-gap: 3em 2em;  
    font-size: 16px;
}

.card_item{
    box-shadow: 0 4px 8px 0 #29558c90;
    width: 100%;
    border-radius: 0.5em;
    
}

.card_header{
    width: 100%;
    display: flex;
    position: relative;
    min-height: 300px;
    font-weight: 300;
    box-shadow: #29558c;  
}

.card_img{
    width: 100%;
    flex:1;
    border-radius: 0.5em;
}

.card_rating {
    flex:1;
    position: absolute;
    top: 1;
    left: 0;
    color: white;
    background-color: #29558c;
    padding: 0.3em 1em;
    border-radius: 0.5em 0 0.5em 0;
    z-index : 1;
}

.card_rating .fas {
    padding: 0.1em 0.1em 0.1em 0;
    color: gold;
}

.card_title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FF6535;
    display: flex;
    padding: 0.5em 1em;
    font-size: 18px;
    font-weight: 400; 
    color: #ffffff;
}

.card_name{
    flex: 2;
}

.card_city{
    flex:1;
    text-align: center;
}

.card_city .fas {
    padding-right: 5px;
    color: #29558c;
}

.card_content {
    font-size: 18px;
    font-weight: 200;
}

.card_desc{ 
    margin: 18px;
    text-align: justify;
}


.footer{
    margin: 1em auto;
    width: 100%;
    font-size: 1em;
    text-align: center;
}
